Pojo_Pagos/xml-resources/web-service-references/WSPagos/wsdl/localhost_8080/WAPagos/WSPagos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wspagos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wspagos/" name="WSPagos">
<types>
<xsd:schema>
<xsd:import namespace="http://wspagos/" schemaLocation="http://localhost:8080/WAPagos/WSPagos?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="crearFactura">
<part name="parameters" element="tns:crearFactura"/>
</message>
<message name="crearFacturaResponse">
<part name="parameters" element="tns:crearFacturaResponse"/>
</message>
<message name="checkMonto">
<part name="parameters" element="tns:checkMonto"/>
</message>
<message name="checkMontoResponse">
<part name="parameters" element="tns:checkMontoResponse"/>
</message>
<message name="restarSaldo">
<part name="parameters" element="tns:restarSaldo"/>
</message>
<message name="restarSaldoResponse">
<part name="parameters" element="tns:restarSaldoResponse"/>
</message>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="vincularLibro">
<part name="parameters" element="tns:vincularLibro"/>
</message>
<message name="vincularLibroResponse">
<part name="parameters" element="tns:vincularLibroResponse"/>
</message>
<portType name="WSPagos">
<operation name="remove">
<input wsam:Action="http://wspagos/WSPagos/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wspagos/WSPagos/countRequest" message="tns:count"/>
<output wsam:Action="http://wspagos/WSPagos/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wspagos/WSPagos/findRequest" message="tns:find"/>
<output wsam:Action="http://wspagos/WSPagos/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wspagos/WSPagos/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wspagos/WSPagos/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wspagos/WSPagos/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wspagos/WSPagos/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wspagos/WSPagos/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wspagos/WSPagos/edit" message="tns:edit"/>
</operation>
<operation name="crearFactura">
<input wsam:Action="http://wspagos/WSPagos/crearFacturaRequest" message="tns:crearFactura"/>
<output wsam:Action="http://wspagos/WSPagos/crearFacturaResponse" message="tns:crearFacturaResponse"/>
</operation>
<operation name="checkMonto">
<input wsam:Action="http://wspagos/WSPagos/checkMontoRequest" message="tns:checkMonto"/>
<output wsam:Action="http://wspagos/WSPagos/checkMontoResponse" message="tns:checkMontoResponse"/>
</operation>
<operation name="restarSaldo">
<input wsam:Action="http://wspagos/WSPagos/restarSaldoRequest" message="tns:restarSaldo"/>
<output wsam:Action="http://wspagos/WSPagos/restarSaldoResponse" message="tns:restarSaldoResponse"/>
</operation>
<operation name="validarUsuario">
<input wsam:Action="http://wspagos/WSPagos/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://wspagos/WSPagos/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="vincularLibro">
<input wsam:Action="http://wspagos/WSPagos/vincularLibroRequest" message="tns:vincularLibro"/>
<output wsam:Action="http://wspagos/WSPagos/vincularLibroResponse" message="tns:vincularLibroResponse"/>
</operation>
</portType>
<binding name="WSPagosPortBinding" type="tns:WSPagos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="crearFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkMonto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vincularLibro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPagos">
<port name="WSPagosPort" binding="tns:WSPagosPortBinding">
<soap:address location="http://localhost:8080/WAPagos/WSPagos"/>
</port>
</service>
</definitions>